/* Asegúrate de que el fondo del contenedor principal sea blanco */
.Contenedor {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    z-index: 2; /* Asegura que el contenido esté por encima del fondo */
}

/* Asegúrate de que la barra lateral tenga un fondo blanco */
.sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden; /* Evita el desbordamiento */
    background-color: white; /* Fondo blanco para la barra lateral */
}

/* Asegúrate de que el botón toggle tenga el fondo blanco también */
.toggle {
    background-color: white; /* Fondo blanco para el botón toggle */
    border: none; /* Elimina el borde por defecto */
    color: black; /* Color del ícono */
    padding: 10px; /* Opcional: añadir algo de espacio alrededor del texto */
    transition: background-color 0.3s, border-color 0.3s; /* Suaviza la transición del color de fondo y del borde */
}

.toggle:hover {
    background-color: rgb(82,183,136); /* Color de fondo al pasar el cursor sobre el botón */
    transform: scale(1.05); /* Aumenta ligeramente el tamaño del botón al pasar el cursor */
}

/* Estilos para el logo */
.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white; /* Color del texto del logo */
    padding: 20px; /* Aumenta el padding para dar más espacio */
}

.logo-icon {
    width: 80px; /* Aumenta el tamaño del icono */
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem; /* Aumenta el tamaño de la fuente */
    border-radius: 50%;
    background: #012677; /* Fondo oscuro para el icono */
    margin-bottom: 10px; /* Espacio entre la imagen de perfil y el texto */
}

/* Estilos para el menú */
.menu-bar {
    flex-grow: 1;
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    gap: 15px; /* Aumenta el gap para separar más los botones */
    font-size: 1rem;
    position: relative;
    height: 100vh;
}

.menu-bar .ant-menu-item {
    margin-bottom: 15px; /* Espacio adicional entre los elementos del menú */
}


